<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Overseer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href="/bower_components/semantic-ui/dist/semantic.min.css" rel="stylesheet">
        <style>
            .main.container {
                padding: 0 2em 2em 2em;
            }
            
            .card-holder {
                /*-webkit-column-width: 350px;
                column-width: 350px;*/
                -webkit-column-count: 3;
                column-count: 3;
            }
            
            .card-holder .ui.card {
                display: inline-block;
                width: 99%;
                margin: 1px;
                margin-bottom: 15px;
            }
            
            .card-holder .ui.list .item i.icon {
                display: inline;
            }
        </style>
    </head>
    <body>
        <div class="main container">
            <div class="ui inverted menu">
                <a href="/" class="{% if menu=='home' %}active {% endif %}item">
                    <i class="home icon"></i> Home
                </a>
                <a href="/team" class="{% if menu=='team' %}active {% endif %}item">
                    <i class="users icon"></i> Team
                </a>
                <a href="/testing" class="{% if menu=='testing' %}active {% endif %}item">
                    <i class="certificate icon"></i> Testing
                </a>
                <a href="/components" class="{% if menu=='components' %}active {% endif %}item">
                    <i class="puzzle icon"></i> Components
                </a>
                <a href="/support" class="{% if menu=='support' %}active {% endif %}item">
                    <i class="life ring icon"></i> Support
                </a>
                <a href="/report" class="{% if menu=='report' %}active {% endif %}item">
                    <i class="bug icon"></i> Report
                </a>
            </div>
            <div style="margin-top: 15px;">
                {% block body %}{% endblock %}
            </div>
        </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/semantic-ui/dist/semantic.min.js"></script>
    <script>
        $(function () {
            $('.ui.checkbox').checkbox();
            $('.ui.progress').progress();
        });
    </script>
</body>
</html>