{% extends 'base.twig' %}

{% block body -%}
    <div class="ui {% if cards | length >= 3 %}three{% else %}two{% endif %} column grid">
        {% for card in cards %}
            {% include 'issueListCard.twig' with { 'issues': card.issues, 'title': card.title } %}
        {% endfor %}
    </div>
{% endblock %}