<div class="ui card">
    <div class="content">
        <div class="header">{{ title }}</div>
        <div class="ui divided list">
            {% for item in issues %}
                {% include 'issue.twig' %}
            {% endfor %}
        </div>
    </div>
    <div class="extra content">
        {{ issues | length }} items
    </div>
</div>