{% extends 'base.twig' %}

{% block body -%}
    {% if issuesTodo is not empty %}
    <h2>My Todo list</h2>
    <div class="ui divided list">
        {% for item in issuesTodo %}
            {% include 'issue.twig' with { 'item': item } %}
        {% endfor %}
    </div>
    {% endif %}
    
    <a class="ui blue button" href="/report">Report an issue</a>
    <br /><br />
    Average support ticket resolution time: {{ time_diff(avgSupportTicketTimeSpentTs) }}
    <br />
    {% if supportTickets is not empty %}
    <h2>Support tickets</h2>
    <div class="ui divided list">
        {% for item in supportTickets %}
            {% include 'issue.twig' with { 'item': item } %}
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}