{% extends 'base.twig' %}

{% block body -%}
    {% for project in projects %}
    <div class="ui vertical buttons">
        <a class="ui button" href="/{{project.key}}/home">{{project.name}}</a>
    </div>
    {% endfor %}
{% endblock %}