{% extends 'base.twig' %}

{% block menu -%}
{% endblock %}

{% block body -%}
    <div class="card-holder">
        {% for card in cards %}
            {% include 'issueListCard.twig' with { 'issues': card.issues, 'title': card.title, 'options': card.options } %}
        {% endfor %}
        {% if sprintIssuesCount %}
            <div class="ui card">
                <div class="content">
                    <div class="header">Sprint progress</div>
                    <div class="ui divided list">
                        {{ sprintIssuesSolvedCount }} of {{ sprintIssuesCount }}
                    </div>
                </div>
                <div class="extra content">
                    <div data-value="{{ sprintIssuesSolvedCount }}" data-total="{{ sprintIssuesCount }}" class="ui indicating progress">
                        <div class="bar">
                            <div class="progress"></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}