{% extends 'base.twig' %}

{% block body -%}
    <div class="card-holder">
        {% for card in cards %}
            {% include 'issueListCard.twig' with { 'issues': card.issues, 'title': card.title } %}
        {% endfor %}
        {% for item in issuesByAssignee %}
            {% include 'issueListCard.twig' with { 'issues': item.issues, 'title': item.assignee } %}
        {% endfor %}
    </div>
    {% if sprintIssuesCount %}
        <div class="ui grid">
            <div style="margin: 0 1em; padding-top: 50px;">
                <div data-value="{{ sprintIssuesSolvedCount }}" data-total="{{ sprintIssuesCount }}" class="ui indicating progress">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label">Sprint progress</div>
                </div>
            </div>
        </div>
    {% endif %}
    
    <div style="margin: 0 1em; padding-top: 50px;">
        <div class="ui statistics">
            <div class="statistic">
                <div class="value">
                    <i class="time icon"></i>
                    {{ time_diff(avgSupportTicketTimeSpentTs) | replace( { ' hours': 'h', ' hour': 'h' } ) }}
                </div>
                <div class="label">
                    Average support ticket resolution time
                </div>
            </div>
        </div>
    </div>

{% endblock %}