{% extends 'base.twig' %}

{% block body -%}
    <form class="ui form" method="post" action="/widget/create">
        <h2 class="ui header">Create a widget</h4>
        <div class="field">
            <label>Name</label>
            <input type="text" name="name">
        </div>
        <div class="field">
            <label>Type</label>
            <select name="type">
                <option value="custom">Custom</option>
                <option value="releases">Upcomming releases</option>
                <option value="myTodo">My ToDo</option>
                <option value="myTestingIssues">My Testing Issues</option>
                <option value="myIssuesResolvedToday">My Issues Resolved Today</option>
                <option value="myIssuesResolvedYesterday">My IssuesResolved Yesterday</option>
                <option value="blockedIssues">Blocked Issues</option>
                <option value="issuesWorkedOn">Issues Worked On</option>
            </select>
        </div>
        <div class="field">
            <label>Project</label>
            <select name="queryOptions[project]">
                <option value=""></option>
                {% for project in projects %}
                <option value="{{project.key}}">{{project.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="field">
            <label>Status</label>
            <select name="queryOptions[status][]" multiple>
                {% for status in statuses %}
                    <option value="{{status.name}}">{{status.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" name="displayOptions[includeAssignee]">
                <label>Include assignees in display.</label>
            </div>
        </div>
        <input class="ui blue submit button" type="submit" value="Create">
    </form>    
{% endblock %}