{% extends 'base.twig' %}

{% block body -%}
    <form class="ui form" method="post" action="/widget/create">
        <h2 class="ui header">Create a widget</h4>
        <div class="field">
            <label>Name</label>
            <input type="text" name="name">
        </div>
        <div class="field">
            <label>Type</label>
            <select name="type">
                <option value="myTodo">My ToDo</option>
            </select>
        </div>
        <input class="ui blue submit button" type="submit" value="Create">
    </form>    
{% endblock %}