body {
    color: rgba(255, 255, 255, 0.884);
    background-color: #252a30;
}

a, a:link, a:visited {
    color: rgba(255, 255, 255, 0.884);
    text-decoration: none;
}

th {
    text-align: left;
}

.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.widget {
    flex-basis: 31%;
}

.done {
    opacity: 0.6;
}

.blocked {
    background-color: red;
}

.progress {
    background-color: orange;
}